# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [1]:
import pandas as pd
insurance_df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

In [2]:
# column names should be lower case
insurance_df.columns = insurance_df.columns.str.lower()
insurance_df.columns

Index(['customer', 'st', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount'],
      dtype='object')

In [3]:
# white spaces in column names replaced by _
insurance_df.columns = insurance_df.columns.str.replace(" ","_")
insurance_df.columns

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [4]:
# replace st with state
insurance_df = insurance_df.rename(columns={'st': 'state'})
insurance_df.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [5]:
# Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female",
# which need to be standardized, for example, to "M" and "F"
gender_mapping = {'Male': 'M', 'female': 'F','Femal': 'F'}
insurance_df['gender'] = insurance_df['gender'].map(lambda x: gender_mapping.get(x, x))

insurance_df['gender'].unique()

array([nan, 'F', 'M'], dtype=object)

In [6]:
# State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"
state_mapping = {"AZ": "Arizona", "Cali": "California", "WA": "Washington"}
insurance_df['state'] = insurance_df['state'].map(lambda x: state_mapping.get(x, x))

insurance_df['state'].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', nan],
      dtype=object)

In [7]:
# In education, "Bachelors" could be replaced by "Bachelor"
edu_mapping = {'Bachelors':'Bachelor'}
insurance_df['education'] = insurance_df['education'].map(lambda x: edu_mapping.get(x, x))

insurance_df['education'].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College', 'Doctor',
       nan], dtype=object)

In [8]:
# In Customer Lifetime Value, delete the % character
insurance_df["customer_lifetime_value"] = insurance_df["customer_lifetime_value"].str.replace("%","")

insurance_df["customer_lifetime_value"]

0              NaN
1        697953.59
2       1288743.17
3        764586.18
4        536307.65
           ...
4003           NaN
4004           NaN
4005           NaN
4006           NaN
4007           NaN
Name: customer_lifetime_value, Length: 4008, dtype: object

In [9]:
# In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"
car_mapping = {"Sports Car":"Luxury", "Luxury SUV":"Luxury", "Luxury Car":"Luxury"}
insurance_df['vehicle_class'] = insurance_df['vehicle_class'].map(lambda x: car_mapping.get(x, x))

insurance_df['vehicle_class'].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury', nan],
      dtype=object)

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [10]:
# Customer lifetime value should be numeric
insurance_df['customer_lifetime_value'] = insurance_df['customer_lifetime_value'].astype(float)
insurance_df['customer_lifetime_value']

0              NaN
1        697953.59
2       1288743.17
3        764586.18
4        536307.65
           ...
4003           NaN
4004           NaN
4005           NaN
4006           NaN
4007           NaN
Name: customer_lifetime_value, Length: 4008, dtype: float64

In [11]:
# Number of open complaints has an incorrect format
insurance_df['number_of_open_complaints'].unique()

insurance_df['number_of_open_complaints'] = insurance_df['number_of_open_complaints'].str.split("/").str[1].astype(float)
# due to numpy, NaN can't be cast as integer (so if you're missing a value you can't use integer)

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [13]:
insurance_df.isna().any(axis=0)

customer                     True
state                        True
gender                       True
education                    True
customer_lifetime_value      True
income                       True
monthly_premium_auto         True
number_of_open_complaints    True
policy_type                  True
vehicle_class                True
total_claim_amount           True
dtype: bool

In [14]:
# decide on NaN strategy

# 'customer' -> drop rows with null
insurance_df = insurance_df.dropna(subset='customer')

In [15]:
# 'state' -> most frequent
insurance_df['state'] = insurance_df['state'].fillna(insurance_df['state'].mode())

In [16]:
# 'gender' -> most frequent
insurance_df['gender'] = insurance_df['gender'].fillna(insurance_df['gender'].mode().iloc[0])

In [17]:
# 'education' -> most frequent
insurance_df['education'] = insurance_df['education'].fillna(insurance_df['education'].mode())

In [18]:
# 'customer_lifetime_value' -> median
insurance_df['customer_lifetime_value'] = insurance_df['customer_lifetime_value'].fillna(insurance_df['customer_lifetime_value'].median())

In [19]:
# 'income' -> median
insurance_df['income'] = insurance_df['income'].fillna(insurance_df['income'].median())

In [20]:
# 'monthly_premium_auto' -> median
insurance_df['monthly_premium_auto'] = insurance_df['monthly_premium_auto'].fillna(insurance_df['monthly_premium_auto'].median())

In [21]:
# 'number_of_open_complaints' -> default to 0
insurance_df['number_of_open_complaints'] = insurance_df['number_of_open_complaints'].fillna(0)

In [22]:
# 'policy_type' -> default policy type or most frequent
insurance_df['policy_type'] = insurance_df['policy_type'].fillna(insurance_df['policy_type'].mode())

In [23]:
# 'vehicle_class' -> most frequent
insurance_df['vehicle_class'] = insurance_df['vehicle_class'].fillna(insurance_df['vehicle_class'].mode())

In [24]:
# 'total_claim_amount' -> median
insurance_df['total_claim_amount'] = insurance_df['total_claim_amount'].fillna(insurance_df['total_claim_amount'].median())

In [25]:
insurance_df.isna().any(axis=0)

customer                     False
state                        False
gender                       False
education                    False
customer_lifetime_value      False
income                       False
monthly_premium_auto         False
number_of_open_complaints    False
policy_type                  False
vehicle_class                False
total_claim_amount           False
dtype: bool

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [38]:
# checking for duplicate rows

insurance_df.duplicated().any(axis=0)

False

In [39]:
# there appears to be no duplicated rows, probably because we dropped any rows with missing customer IDs in Exercise 4

In [40]:
insurance_df.to_csv("data_cleaning_lab_M1_W2.csv")

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [27]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [28]:
# Your code here